# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
/GitForDelphi-master/.gitignore
/GitForDelphi-master/LIBGIT2_sha
/GitForDelphi-master/LICENSE
/GitForDelphi-master/README.md
/GitForDelphi-master/Rakefile
/GitForDelphi-master/tests/GitForDelphi.dpr
/GitForDelphi-master/tests/TestsFromLibGit2/clar/network.pas
/GitForDelphi-master/tests/TestsFromLibGit2/clar/status.pas
/GitForDelphi-master/tests/TestsFromLibGit2/clar/uClar.pas
/GitForDelphi-master/tests/TestsFromLibGit2/t04_commit.pas
/GitForDelphi-master/tests/TestsFromLibGit2/t05_revwalk.pas
/GitForDelphi-master/tests/TestsFromLibGit2/t06_index.pas
/GitForDelphi-master/tests/TestsFromLibGit2/t08_tag.pas
/GitForDelphi-master/tests/TestsFromLibGit2/t09_tree.pas
/GitForDelphi-master/tests/TestsFromLibGit2/t10_refs.pas
/GitForDelphi-master/tests/TestsFromLibGit2/t15_config.pas
/GitForDelphi-master/tests/TestsFromLibGit2/t18_status.pas
/GitForDelphi-master/tests/TestsFromLibGit2/uTestsFromLibGit2.pas
/GitForDelphi-master/tests/resources/.gitattributes
/GitForDelphi-master/tests/resources/.gitignore
/GitForDelphi-master/tests/resources/attr/.gitted/HEAD
/GitForDelphi-master/tests/resources/attr/.gitted/config
/GitForDelphi-master/tests/resources/attr/.gitted/description
/GitForDelphi-master/tests/resources/attr/.gitted/index
/GitForDelphi-master/tests/resources/attr/.gitted/info/attributes
/GitForDelphi-master/tests/resources/attr/.gitted/info/exclude
/GitForDelphi-master/tests/resources/attr/.gitted/logs/HEAD
/GitForDelphi-master/tests/resources/attr/.gitted/logs/refs/heads/master
/GitForDelphi-master/tests/resources/attr/.gitted/objects/29/29de282ce999e95183aedac6451d3384559c4b
/GitForDelphi-master/tests/resources/attr/.gitted/objects/2b/40c5aca159b04ea8d20ffe36cdf8b09369b14a
/GitForDelphi-master/tests/resources/attr/.gitted/objects/2c/66e14f77196ea763fb1e41612c1aa2bc2d8ed2
/GitForDelphi-master/tests/resources/attr/.gitted/objects/2d/e7dfe3588f3c7e9ad59e7d50ba90e3329df9d9
/GitForDelphi-master/tests/resources/attr/.gitted/objects/3b/74db7ab381105dc0d28f8295a77f6a82989292
/GitForDelphi-master/tests/resources/attr/.gitted/objects/3e/42ffc54a663f9401cc25843d6c0e71a33e4249
/GitForDelphi-master/tests/resources/attr/.gitted/objects/45/141a79a77842c59a63229403220a4e4be74e3d
/GitForDelphi-master/tests/resources/attr/.gitted/objects/55/6f8c827b8e4a02ad5cab77dca2bcb3e226b0b3
/GitForDelphi-master/tests/resources/attr/.gitted/objects/58/19a185d77b03325aaf87cafc771db36f6ddca7
/GitForDelphi-master/tests/resources/attr/.gitted/objects/60/5812ab7fe421fdd325a935d35cb06a9234a7d7
/GitForDelphi-master/tests/resources/attr/.gitted/objects/6b/ab5c79cd5140d0f800917f550eb2a3dc32b0da
/GitForDelphi-master/tests/resources/attr/.gitted/objects/94/da4faa0a6bfb8ee6ccf7153801a69202b31857
/GitForDelphi-master/tests/resources/attr/.gitted/objects/99/eae476896f4907224978b88e5ecaa6c5bb67a9
/GitForDelphi-master/tests/resources/attr/.gitted/objects/9f/b40b6675dde60b5697afceae91b66d908c02d9
/GitForDelphi-master/tests/resources/attr/.gitted/objects/a5/6bbcecaeac760cc26239384d2d4c614e7e4320
/GitForDelphi-master/tests/resources/attr/.gitted/objects/a5/d76cad53f66f1312bd995909a5bab3c0820770
/GitForDelphi-master/tests/resources/attr/.gitted/objects/c0/091889c0c77142b87a1fa5123a6398a61d33e7
/GitForDelphi-master/tests/resources/attr/.gitted/objects/c4/85abe35abd4aa6fd83b076a78bbea9e2e7e06c
/GitForDelphi-master/tests/resources/attr/.gitted/objects/c7/aadd770d5907a8475c29e9ee21a27b88bf675d
/GitForDelphi-master/tests/resources/attr/.gitted/objects/d5/7da33c16b14326ecb05d19bbea908f5e4c47d9
/GitForDelphi-master/tests/resources/attr/.gitted/objects/d8/00886d9c86731ae5c4a62b0b77c437015e00d2
/GitForDelphi-master/tests/resources/attr/.gitted/objects/dc/cada462d3df8ac6de596fb8c896aba9344f941
/GitForDelphi-master/tests/resources/attr/.gitted/objects/e5/63cf4758f0d646f1b14b76016aa17fa9e549a4
/GitForDelphi-master/tests/resources/attr/.gitted/objects/f2/c6d717cf4a5a3e6b02684155ab07b766982165
/GitForDelphi-master/tests/resources/attr/.gitted/objects/fb/5067b1aef3ac1ada4b379dbcb7d17255df7d78
/GitForDelphi-master/tests/resources/attr/.gitted/objects/ff/69f8639ce2e6010b3f33a74160aad98b48da2b
/GitForDelphi-master/tests/resources/attr/.gitted/refs/heads/master
/GitForDelphi-master/tests/resources/attr/attr0
/GitForDelphi-master/tests/resources/attr/attr1
/GitForDelphi-master/tests/resources/attr/attr2
/GitForDelphi-master/tests/resources/attr/attr3
/GitForDelphi-master/tests/resources/attr/binfile
/GitForDelphi-master/tests/resources/attr/dir/file
/GitForDelphi-master/tests/resources/attr/file
/GitForDelphi-master/tests/resources/attr/gitattributes
/GitForDelphi-master/tests/resources/attr/gitignore
/GitForDelphi-master/tests/resources/attr/ign
/GitForDelphi-master/tests/resources/attr/macro_bad
/GitForDelphi-master/tests/resources/attr/macro_test
/GitForDelphi-master/tests/resources/attr/root_test1
/GitForDelphi-master/tests/resources/attr/root_test2
/GitForDelphi-master/tests/resources/attr/root_test3
/GitForDelphi-master/tests/resources/attr/root_test4.txt
/GitForDelphi-master/tests/resources/attr/sub/.gitattributes
/GitForDelphi-master/tests/resources/attr/sub/abc
/GitForDelphi-master/tests/resources/attr/sub/dir/file
/GitForDelphi-master/tests/resources/attr/sub/file
/GitForDelphi-master/tests/resources/attr/sub/ign
/GitForDelphi-master/tests/resources/attr/sub/sub/dir
/GitForDelphi-master/tests/resources/attr/sub/sub/file
/GitForDelphi-master/tests/resources/attr/sub/sub/subsub.txt
/GitForDelphi-master/tests/resources/attr/sub/subdir_test1
/GitForDelphi-master/tests/resources/attr/sub/subdir_test2.txt
/GitForDelphi-master/tests/resources/bad_tag.git/HEAD
/GitForDelphi-master/tests/resources/bad_tag.git/config
/GitForDelphi-master/tests/resources/bad_tag.git/objects/pack/pack-7a28f4e000a17f49a41d7a79fc2f762a8a7d9164.idx
/GitForDelphi-master/tests/resources/bad_tag.git/objects/pack/pack-7a28f4e000a17f49a41d7a79fc2f762a8a7d9164.pack
/GitForDelphi-master/tests/resources/bad_tag.git/packed-refs
/GitForDelphi-master/tests/resources/bad_tag.git/refs/dummy-marker.txt
/GitForDelphi-master/tests/resources/big.index
/GitForDelphi-master/tests/resources/config/.gitconfig
/GitForDelphi-master/tests/resources/config/config0
/GitForDelphi-master/tests/resources/config/config1
/GitForDelphi-master/tests/resources/config/config10
/GitForDelphi-master/tests/resources/config/config2
/GitForDelphi-master/tests/resources/config/config3
/GitForDelphi-master/tests/resources/config/config4
/GitForDelphi-master/tests/resources/config/config5
/GitForDelphi-master/tests/resources/config/config6
/GitForDelphi-master/tests/resources/config/config7
/GitForDelphi-master/tests/resources/config/config8
/GitForDelphi-master/tests/resources/config/config9
/GitForDelphi-master/tests/resources/empty_bare.git/HEAD
/GitForDelphi-master/tests/resources/empty_bare.git/config
/GitForDelphi-master/tests/resources/empty_bare.git/description
/GitForDelphi-master/tests/resources/empty_bare.git/info/exclude
/GitForDelphi-master/tests/resources/empty_bare.git/objects/info/dummy-marker.txt
/GitForDelphi-master/tests/resources/empty_bare.git/objects/pack/dummy-marker.txt
/GitForDelphi-master/tests/resources/empty_bare.git/refs/heads/dummy-marker.txt
/GitForDelphi-master/tests/resources/empty_bare.git/refs/tags/dummy-marker.txt
/GitForDelphi-master/tests/resources/empty_standard_repo/.gitted/HEAD
/GitForDelphi-master/tests/resources/empty_standard_repo/.gitted/config
/GitForDelphi-master/tests/resources/empty_standard_repo/.gitted/description
/GitForDelphi-master/tests/resources/empty_standard_repo/.gitted/info/exclude
/GitForDelphi-master/tests/resources/empty_standard_repo/.gitted/objects/info/dummy-marker.txt
/GitForDelphi-master/tests/resources/empty_standard_repo/.gitted/objects/pack/dummy-marker.txt
/GitForDelphi-master/tests/resources/empty_standard_repo/.gitted/refs/heads/dummy-marker.txt
/GitForDelphi-master/tests/resources/empty_standard_repo/.gitted/refs/tags/dummy-marker.txt
/GitForDelphi-master/tests/resources/gitgit.index
/GitForDelphi-master/tests/resources/status/.gitted/COMMIT_EDITMSG
/GitForDelphi-master/tests/resources/status/.gitted/HEAD
/GitForDelphi-master/tests/resources/status/.gitted/ORIG_HEAD
/GitForDelphi-master/tests/resources/status/.gitted/config
/GitForDelphi-master/tests/resources/status/.gitted/description
/GitForDelphi-master/tests/resources/status/.gitted/index
/GitForDelphi-master/tests/resources/status/.gitted/info/exclude
/GitForDelphi-master/tests/resources/status/.gitted/logs/HEAD
/GitForDelphi-master/tests/resources/status/.gitted/logs/refs/heads/master
/GitForDelphi-master/tests/resources/status/.gitted/objects/00/17bd4ab1ec30440b17bae1680cff124ab5f1f6
/GitForDelphi-master/tests/resources/status/.gitted/objects/06/1d42a44cacde5726057b67558821d95db96f19
/GitForDelphi-master/tests/resources/status/.gitted/objects/18/88c805345ba265b0ee9449b8877b6064592058
/GitForDelphi-master/tests/resources/status/.gitted/objects/19/d9cc8584ac2c7dcf57d2680375e80f099dc481
/GitForDelphi-master/tests/resources/status/.gitted/objects/26/a125ee1bfc5df1e1b2e9441bbe63c8a7ae989f
/GitForDelphi-master/tests/resources/status/.gitted/objects/32/504b727382542f9f089e24fddac5e78533e96c
/GitForDelphi-master/tests/resources/status/.gitted/objects/37/fcb02ccc1a85d1941e7f106d52dc3702dcf0d0
/GitForDelphi-master/tests/resources/status/.gitted/objects/45/2e4244b5d083ddf0460acf1ecc74db9dcfa11a
/GitForDelphi-master/tests/resources/status/.gitted/objects/52/9a16e8e762d4acb7b9636ff540a00831f9155a
/GitForDelphi-master/tests/resources/status/.gitted/objects/53/ace0d1cc1145a5f4fe4f78a186a60263190733
/GitForDelphi-master/tests/resources/status/.gitted/objects/54/52d32f1dd538eb0405e8a83cc185f79e25e80f
/GitForDelphi-master/tests/resources/status/.gitted/objects/55/d316c9ba708999f1918e9677d01dfcae69c6b9
/GitForDelphi-master/tests/resources/status/.gitted/objects/70/bd9443ada07063e7fbf0b3ff5c13f7494d89c2
/GitForDelphi-master/tests/resources/status/.gitted/objects/73/5b6a258cd196a8f7c9428419b02c1dca93fd75
/GitForDelphi-master/tests/resources/status/.gitted/objects/75/6e27627e67bfbc048d01ece5819c6de733d7ea
/GitForDelphi-master/tests/resources/status/.gitted/objects/90/6ee7711f4f4928ddcb2a5f8fbc500deba0d2a8
/GitForDelphi-master/tests/resources/status/.gitted/objects/90/b8c29d8ba39434d1c63e1b093daaa26e5bd972
/GitForDelphi-master/tests/resources/status/.gitted/objects/9c/2e02cdffa8d73e6c189074594477a6baf87960
/GitForDelphi-master/tests/resources/status/.gitted/objects/a0/de7e0ac200c489c41c59dfa910154a70264e6e
/GitForDelphi-master/tests/resources/status/.gitted/objects/a6/191982709b746d5650e93c2acf34ef74e11504
/GitForDelphi-master/tests/resources/status/.gitted/objects/a6/be623522ce87a1d862128ac42672604f7b468b
/GitForDelphi-master/tests/resources/status/.gitted/objects/aa/27a641456848200fdb7f7c99ba36f8a0952877
/GitForDelphi-master/tests/resources/status/.gitted/objects/da/bc8af9bd6e9f5bbe96a176f1a24baf3d1f8916
/GitForDelphi-master/tests/resources/status/.gitted/objects/e8/ee89e15bbe9b20137715232387b3de5b28972e
/GitForDelphi-master/tests/resources/status/.gitted/objects/e9/b9107f290627c04d097733a10055af941f6bca
/GitForDelphi-master/tests/resources/status/.gitted/objects/ed/062903b8f6f3dccb2fa81117ba6590944ef9bd
/GitForDelphi-master/tests/resources/status/.gitted/refs/heads/master
/GitForDelphi-master/tests/resources/status/current_file
/GitForDelphi-master/tests/resources/status/ignored_file
/GitForDelphi-master/tests/resources/status/modified_file
/GitForDelphi-master/tests/resources/status/new_file
/GitForDelphi-master/tests/resources/status/staged_changes
/GitForDelphi-master/tests/resources/status/staged_changes_modified_file
/GitForDelphi-master/tests/resources/status/staged_delete_modified_file
/GitForDelphi-master/tests/resources/status/staged_new_file
/GitForDelphi-master/tests/resources/status/staged_new_file_modified_file
/GitForDelphi-master/tests/resources/status/subdir.txt
/GitForDelphi-master/tests/resources/status/subdir/current_file
/GitForDelphi-master/tests/resources/status/subdir/modified_file
/GitForDelphi-master/tests/resources/status/subdir/new_file
/GitForDelphi-master/tests/resources/testrepo.git/HEAD
/GitForDelphi-master/tests/resources/testrepo.git/config
/GitForDelphi-master/tests/resources/testrepo.git/head-tracker
/GitForDelphi-master/tests/resources/testrepo.git/index
/GitForDelphi-master/tests/resources/testrepo.git/objects/13/85f264afb75a56a5bec74243be9b367ba4ca08
/GitForDelphi-master/tests/resources/testrepo.git/objects/18/1037049a54a1eb5fab404658a3a250b44335d7
/GitForDelphi-master/tests/resources/testrepo.git/objects/18/10dff58d8a660512d4832e740f692884338ccd
/GitForDelphi-master/tests/resources/testrepo.git/objects/1f/67fc4386b2d171e0d21be1c447e12660561f9b
/GitForDelphi-master/tests/resources/testrepo.git/objects/27/0b8ea76056d5cad83af921837702d3e3c2924d
/GitForDelphi-master/tests/resources/testrepo.git/objects/32/59a6bd5b57fb9c1281bb7ed3167b50f224cb54
/GitForDelphi-master/tests/resources/testrepo.git/objects/36/97d64be941a53d4ae8f6a271e4e3fa56b022cc
/GitForDelphi-master/tests/resources/testrepo.git/objects/45/b983be36b73c0788dc9cbcb76cbb80fc7bb057
/GitForDelphi-master/tests/resources/testrepo.git/objects/4a/202b346bb0fb0db7eff3cffeb3c70babbd2045
/GitForDelphi-master/tests/resources/testrepo.git/objects/5b/5b025afb0b4c913b4c338a42934a3863bf3644
/GitForDelphi-master/tests/resources/testrepo.git/objects/75/057dd4114e74cca1d750d0aee1647c903cb60a
/GitForDelphi-master/tests/resources/testrepo.git/objects/76/3d71aadf09a7951596c9746c024e7eece7c7af
/GitForDelphi-master/tests/resources/testrepo.git/objects/7b/4384978d2493e851f9cca7858815fac9b10980
/GitForDelphi-master/tests/resources/testrepo.git/objects/81/4889a078c031f61ed08ab5fa863aea9314344d
/GitForDelphi-master/tests/resources/testrepo.git/objects/84/96071c1b46c854b31185ea97743be6a8774479
/GitForDelphi-master/tests/resources/testrepo.git/objects/94/4c0f6e4dfa41595e6eb3ceecdb14f50fe18162
/GitForDelphi-master/tests/resources/testrepo.git/objects/9a/03079b8a8ee85a0bee58bf9be3da8b62414ed4
/GitForDelphi-master/tests/resources/testrepo.git/objects/9f/d738e8f7967c078dceed8190330fc8648ee56a
/GitForDelphi-master/tests/resources/testrepo.git/objects/a4/a7dce85cf63874e984719f4fdd239f5145052f
/GitForDelphi-master/tests/resources/testrepo.git/objects/a6/5fedf39aefe402d3bb6e24df4d4f5fe4547750
/GitForDelphi-master/tests/resources/testrepo.git/objects/a7/1586c1dfe8a71c6cbf6c129f404c5642ff31bd
/GitForDelphi-master/tests/resources/testrepo.git/objects/a8/233120f6ad708f843d861ce2b7228ec4e3dec6
/GitForDelphi-master/tests/resources/testrepo.git/objects/ae/90f12eea699729ed24555e40b9fd669da12a12
/GitForDelphi-master/tests/resources/testrepo.git/objects/b2/5fa35b38051e4ae45d4222e795f9df2e43f1d1
/GitForDelphi-master/tests/resources/testrepo.git/objects/b6/361fc6a97178d8fc8639fdeed71c775ab52593
/GitForDelphi-master/tests/resources/testrepo.git/objects/be/3563ae3f795b2b4353bcce3a527ad0a4f7f644
/GitForDelphi-master/tests/resources/testrepo.git/objects/c4/7800c7266a2be04c571c04d5a6614691ea99bd
/GitForDelphi-master/tests/resources/testrepo.git/objects/d6/c93164c249c8000205dd4ec5cbca1b516d487f
/GitForDelphi-master/tests/resources/testrepo.git/objects/e6/9de29bb2d1d6434b8b29ae775ad8c2e48c5391
/GitForDelphi-master/tests/resources/testrepo.git/objects/e7/b4ad382349ff96dd8199000580b9b1e2042eb0
/GitForDelphi-master/tests/resources/testrepo.git/objects/f1/425cef211cc08caa31e7b545ffb232acb098c3
/GitForDelphi-master/tests/resources/testrepo.git/objects/f6/0079018b664e4e79329a7ef9559c8d9e0378d1
/GitForDelphi-master/tests/resources/testrepo.git/objects/fa/49b077972391ad58037050f2a75f74e3671e92
/GitForDelphi-master/tests/resources/testrepo.git/objects/fd/093bff70906175335656e6ce6ae05783708765
/GitForDelphi-master/tests/resources/testrepo.git/objects/pack/pack-a81e489679b7d3418f9ab594bda8ceb37dd4c695.idx
/GitForDelphi-master/tests/resources/testrepo.git/objects/pack/pack-a81e489679b7d3418f9ab594bda8ceb37dd4c695.pack
/GitForDelphi-master/tests/resources/testrepo.git/objects/pack/pack-d7c6adf9f61318f041845b01440d09aa7a91e1b5.idx
/GitForDelphi-master/tests/resources/testrepo.git/objects/pack/pack-d7c6adf9f61318f041845b01440d09aa7a91e1b5.pack
/GitForDelphi-master/tests/resources/testrepo.git/objects/pack/pack-d85f5d483273108c9d8dd0e4728ccf0b2982423a.idx
/GitForDelphi-master/tests/resources/testrepo.git/objects/pack/pack-d85f5d483273108c9d8dd0e4728ccf0b2982423a.pack
/GitForDelphi-master/tests/resources/testrepo.git/packed-refs
/GitForDelphi-master/tests/resources/testrepo.git/refs/heads/br2
/GitForDelphi-master/tests/resources/testrepo.git/refs/heads/master
/GitForDelphi-master/tests/resources/testrepo.git/refs/heads/packed-test
/GitForDelphi-master/tests/resources/testrepo.git/refs/heads/subtrees
/GitForDelphi-master/tests/resources/testrepo.git/refs/heads/test
/GitForDelphi-master/tests/resources/testrepo.git/refs/tags/e90810b
/GitForDelphi-master/tests/resources/testrepo.git/refs/tags/point_to_blob
/GitForDelphi-master/tests/resources/testrepo.git/refs/tags/test
/GitForDelphi-master/tests/uTestGitRecords.pas
/GitForDelphi-master/tests/uTestGitRecords.pas~
/GitForDelphi-master/tests/uTestHelpers.pas
/GitForDelphi-master/uGitForDelphi.pas
/Output.txt
/CWDelphiSearch.py~
/CWDelphiSearchGraph.py~
/CWDelphiSearchModel.py~
/CWDelphiSearchParse.py~
/CWDelphiSearchSave.py~
